Email Automation Agent.blueprint.json
{
    "name": "Email Automation Agent",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 3620221
            },
            "mapper": {
                "from": "drive",
                "filter": [
                    [
                        {
                            "a": "L",
                            "b": "FAILED",
                            "o": "text:equal"
                        }
                    ],
                    [
                        {
                            "a": "L",
                            "o": "notexist"
                        }
                    ]
                ],
                "sheetId": "mla",
                "sortOrder": "asc",
                "spreadsheetId": "1-cn3WJhU-5SqEVplFGEydySs6pOBNGvUYyxjdE9Bzfk",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Fetch data"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "mla"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Tamil Nadu Constituencies"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (pandalashiva3@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Serial No. (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "all name (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Name (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Party (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Contitution Name (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "ADDRESS (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "TELNO.(R) (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Email Address (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "called? (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "notes ( if any ) (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "WA (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "Sent (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{1.`7`}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "array": [
                    "{{1.`__ROW_NUMBER__`}}"
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "2"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 21,
            "module": "http:DownloadFile",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://drive.google.com/uc?export=download&id=1VX6mnlpR4PY-WyLWH7YdBlVuEqcE-dKv",
                "shareCookies": false,
                "stopOnHttpError": true
            },
            "metadata": {
                "designer": {
                    "x": 157,
                    "y": 326,
                    "name": "JPEG"
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    }
                ]
            }
        },
        {
            "id": 22,
            "module": "http:DownloadFile",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://drive.google.com/uc?export=download&id=1pobCNxfE47YNkL5zD_TTFGGX7mNBhXGN",
                "shareCookies": false,
                "stopOnHttpError": true
            },
            "metadata": {
                "designer": {
                    "x": 457,
                    "y": 336,
                    "name": "File"
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    }
                ]
            }
        },
        {
            "id": 23,
            "module": "http:DownloadFile",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://drive.google.com/uc?export=download&id=1rZ9jZtmxseV6KV5z6mGd6KYmxs504jQz",
                "shareCookies": false,
                "stopOnHttpError": true
            },
            "metadata": {
                "designer": {
                    "x": 807,
                    "y": 330,
                    "name": "Audio"
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 6007110
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{1.`11`}}",
                            "b": "{{emptyarray}}",
                            "o": "text:equal"
                        },
                        {
                            "a": "{{1.`7`}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "to": "{{1.`7`}}",
                "from": "\"Shiva Pandala\" <pandalashiva3@gmail.com>",
                "subject": "High-Impact Voice Campaign for Your {{1.`4`}} Constituency for upcoming elections-2026",
                "bodyType": "collection",
                "contents": [
                    {
                        "text": "Dear Honorable <strong>{{1.`2`}}</strong>  Garu,\nGreetings from SRN Consultancy, Hyderabad.\r\n\r\nI hope you are doing well.\r\n\r\nWe would like to present a highly effective <strong>political campaign solution</strong> that can help you directly reach every voter in your constituency, <strong>{{1.`4`}}</strong>,within a very short time.\r\n\r\nThrough our <strong>Voice Broadcasting Service</strong> , your message — in your own voice — can be delivered to lakhs of voters across your constituency, including rural areas, without the need for internet access. This ensures that your message reaches every household clearly and effectively.\r\n\r\nCompared to traditional methods like rallies, posters, or door-to-door campaigns, this approach is faster, more cost-effective, and ensures consistent communication with voters.\r\n\r\nTo initiate the campaign, we would require:\r\n\r\n* <strong>Voter contact data</strong> (available at party office or district office)\r\n* <strong>A short voice message</strong> (in your voice or any preferred speaker)\r\n\r\nOnce these are provided, we can execute the campaign immediately and cover the entire constituency within a few hours.\r\n\r\nMany candidates are already leveraging this method to maximize voter reach and impact before polling.\r\n\r\nWe would be happy to share a quick demo or a customized plan for your {{1.`4`}} contituency at your convenience.\r\n\r\nLooking forward to your response.\r\n\r\nWarm regards,\r\nShiva\r\nSRN Consultancy, Hyderabad\n9491565298\r\n",
                        "image": {}
                    }
                ],
                "attachments": [
                    {
                        "data": "{{21.data}}",
                        "filename": "{{21.fileName}}"
                    },
                    {
                        "data": "{{22.data}}",
                        "filename": "{{22.fileName}}"
                    },
                    {
                        "data": "{{23.data}}",
                        "filename": "{{23.fileName}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 845,
                    "y": 11,
                    "name": "Send Email"
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "edit"
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "from": {
                            "mode": "chose",
                            "label": "\"Shiva Pandala\" <pandalashiva3@gmail.com>"
                        },
                        "bodyType": {
                            "label": "Collection of contents (text, images, etc.)"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "image": {
                                        "collapsed": true
                                    }
                                }
                            ]
                        },
                        "signature": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "emailHeaders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "MLA make.com (pandalashiva3@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment"
                        },
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "CC recipients"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address"
                        },
                        "type": "array",
                        "label": "BCC recipients"
                    },
                    {
                        "name": "emailHeaders",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header"
                        },
                        "type": "array",
                        "label": "Additional email headers"
                    },
                    {
                        "name": "contents",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "image",
                                    "spec": [
                                        {
                                            "name": "filename",
                                            "type": "filename",
                                            "label": "File name",
                                            "semantic": "file:name"
                                        },
                                        {
                                            "name": "data",
                                            "type": "buffer",
                                            "label": "Data",
                                            "semantic": "file:data"
                                        },
                                        {
                                            "name": "width",
                                            "type": "uinteger",
                                            "label": "Width"
                                        },
                                        {
                                            "name": "height",
                                            "type": "uinteger",
                                            "label": "Height"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                }
                            ],
                            "type": "collection",
                            "label": "Content"
                        },
                        "type": "array",
                        "label": "Body contents"
                    },
                    {
                        "name": "signature",
                        "type": "select",
                        "label": "Signature content"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 16,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 3620221
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{1.`11`}}",
                            "o": "notexist"
                        }
                    ]
                ]
            },
            "mapper": {
                "from": "share",
                "mode": "select",
                "values": {
                    "Sent": "YES"
                },
                "sheetId": "mla",
                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                "spreadsheetId": "/1-cn3WJhU-5SqEVplFGEydySs6pOBNGvUYyxjdE9Bzfk",
                "includesHeaders": true,
                "useColumnHeaders": true,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 1132,
                    "y": 18,
                    "name": "Update Rows"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Shared with me"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "mla"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Tamil Nadu Constituencies"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "useColumnHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "Serial No.",
                                            "type": "text",
                                            "label": "Serial No. (A)"
                                        },
                                        {
                                            "name": "all name",
                                            "type": "text",
                                            "label": "all name (B)"
                                        },
                                        {
                                            "name": "Name",
                                            "type": "text",
                                            "label": "Name (C)"
                                        },
                                        {
                                            "name": "Party",
                                            "type": "text",
                                            "label": "Party (D)"
                                        },
                                        {
                                            "name": "Contitution Name",
                                            "type": "text",
                                            "label": "Contitution Name (E)"
                                        },
                                        {
                                            "name": "ADDRESS",
                                            "type": "text",
                                            "label": "ADDRESS (F)"
                                        },
                                        {
                                            "name": "TELNO.(R)",
                                            "type": "text",
                                            "label": "TELNO.(R) (G)"
                                        },
                                        {
                                            "name": "Email Address",
                                            "type": "text",
                                            "label": "Email Address (H)"
                                        },
                                        {
                                            "name": "called?",
                                            "type": "text",
                                            "label": "called? (I)"
                                        },
                                        {
                                            "name": "notes ( if any )",
                                            "type": "text",
                                            "label": "notes ( if any ) (J)"
                                        },
                                        {
                                            "name": "WA",
                                            "type": "text",
                                            "label": "WA (K)"
                                        },
                                        {
                                            "name": "Sent",
                                            "type": "text",
                                            "label": "Sent (L)"
                                        },
                                        {
                                            "name": "undefined",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "undefined",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "undefined",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "undefined",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "undefined",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "undefined",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "undefined",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "undefined",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "undefined",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "undefined",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "undefined",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "undefined",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "undefined",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "undefined",
                                            "type": "text",
                                            "label": "(Z)"
                                        },
                                        {
                                            "name": "undefined",
                                            "type": "text",
                                            "label": "(AA)"
                                        },
                                        {
                                            "name": "undefined",
                                            "type": "text",
                                            "label": "(AB)"
                                        },
                                        {
                                            "name": "undefined",
                                            "type": "text",
                                            "label": "(AC)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values in columns",
                                    "metadata": [
                                        [
                                            [
                                                "Serial No.",
                                                "all name",
                                                "Name",
                                                "Party",
                                                "Contitution Name",
                                                "ADDRESS",
                                                "TELNO.(R)",
                                                "Email Address",
                                                "called?",
                                                "notes ( if any )",
                                                "WA",
                                                "Sent"
                                            ]
                                        ]
                                    ]
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (pandalashiva3@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "Serial No.",
                                "type": "text",
                                "label": "Serial No. (A)"
                            },
                            {
                                "name": "all name",
                                "type": "text",
                                "label": "all name (B)"
                            },
                            {
                                "name": "Name",
                                "type": "text",
                                "label": "Name (C)"
                            },
                            {
                                "name": "Party",
                                "type": "text",
                                "label": "Party (D)"
                            },
                            {
                                "name": "Contitution Name",
                                "type": "text",
                                "label": "Contitution Name (E)"
                            },
                            {
                                "name": "ADDRESS",
                                "type": "text",
                                "label": "ADDRESS (F)"
                            },
                            {
                                "name": "TELNO.(R)",
                                "type": "text",
                                "label": "TELNO.(R) (G)"
                            },
                            {
                                "name": "Email Address",
                                "type": "text",
                                "label": "Email Address (H)"
                            },
                            {
                                "name": "called?",
                                "type": "text",
                                "label": "called? (I)"
                            },
                            {
                                "name": "notes ( if any )",
                                "type": "text",
                                "label": "notes ( if any ) (J)"
                            },
                            {
                                "name": "WA",
                                "type": "text",
                                "label": "WA (K)"
                            },
                            {
                                "name": "Sent",
                                "type": "text",
                                "label": "Sent (L)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(Z)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(AA)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(AB)"
                            },
                            {
                                "name": "undefined",
                                "type": "text",
                                "label": "(AC)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                            [
                                [
                                    "Serial No.",
                                    "all name",
                                    "Name",
                                    "Party",
                                    "Contitution Name",
                                    "ADDRESS",
                                    "TELNO.(R)",
                                    "Email Address",
                                    "called?",
                                    "notes ( if any )",
                                    "WA",
                                    "Sent"
                                ]
                            ]
                        ]
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}